<h1>Pages#batmanvssuperman</h1>
<p>Find me in app/views/pages/batmanvssuperman.html.erb</p>



<div class="row">

<div class="col-m-6">
<a href="/pages/batman"><img src="http://www.todolocool.com/wp-content/uploads/2016/01/adam-west-batman.jpg" height="550" width="500" style="float:left"></a>
</div>

<div class="col-m-6">
<a href="/pages/superman">
<img src="http://images6.fanpop.com/image/photos/38000000/Superman-New-52-superman-38057004-900-1121.png" height="650" width="550" style="float:left"></a>
</div>
</div>

